---
import { GISCUS } from "@/constants";
---

<section class="mt-10">
  <script
    is:inline
    src="https://giscus.app/client.js"
    data-repo={GISCUS.repo}
    data-repo-id={GISCUS.repoId}
    data-category={GISCUS.category}
    data-category-id={GISCUS.categoryId}
    data-mapping={GISCUS.mapping}
    data-strict="0"
    data-reactions-enabled={GISCUS.reactionsEnabled}
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="preferred_color_scheme"
    data-lang={GISCUS.lang}
    data-loading={GISCUS.loading}
    crossorigin="anonymous"
    async
  ></script>
</section>
